<div class="container my-2" >
  <h1 class="text-center" style="color:red">Write your diary for {{Date()}}</h1>
  <div class="form-group">
    <form action="" (ngSubmit)="saveDiary()" >
        <div [formGroup]="dairyForm">
          <textarea name="" id="summernote" cols="30" rows="10" formControlName="text"></textarea>
          <button class="btn btn-primary" type="submit">Save</button>
      <p>{{dairyForm.get('text').value}}</p>
     
      </div>
      
    </form>
  </div>
</div>
<div class="container">
  <ul class="list-group my-2">
    <li class="list-group-item active" >Dairy writen on {{Date()}} so far</li>
    <li class="list-group-item" id="output">
      </li>
  </ul>
</div>
