<div class="container">
  <h1 class="mx-auto text-center">Choose What you Need</h1>
  <div class="row">
    <div class="col-sm-4 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
        <img src="../../assets/education.svg" class="text-center" height=250 width=250 alt="Daily diary">
      </div>
      <button class="btn btn-success mx-auto my-2" routerLink="/diary">Write Daily Diary</button>
      </div>
    </div>

    <div class="col-sm-4 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
        <img src="../../assets/check.svg" class="text-center" height=250 width=250 alt="To Do">
      </div>
      <button class="btn btn-success mx-auto my-2" routerLink="/todo">To Do</button>
      </div>
    </div>


    <div class="col-sm-4 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-body">
        <img src="../../assets/arrows.svg" class="text-center" height=250 width=250 alt="File Upload">
      </div>
      <button class="btn btn-success mx-auto my-2" routerLink="file-upload">File Upload</button>
      </div>
    </div>
  </div>

